$primary: #256571;
$secondary: #e5e5e5;
$success: #9DB567;
$info: #72efdd;
$warning: #FFB500;
$danger: #e76f51;
$light: #f7fff7;
$dark: #131313;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
@import "bootstrap/bootstrap";
@import "line-icons.css";
@import "font-awesome.min.css";
@import "animate.min.css";
@import "slick-theme";
@import "slick";


.nav-link {
    font-size: 1.2rem;
    font-weight: 800;
    color: #e1e1e1 !important;
    text-transform: uppercase;
    transition-duration: 1.4s;
    white-space: nowrap;

    &:hover {
        transform: scale(1.02);
        color: gold;
        transition-duration: 1.4s;
    }
}

.clearfix {
    &:after {
        content: "" !important;
    }

    &:before {
        content: "" !important;
    }
}


* {
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

hr {
    width: 200px;
    margin: 20px auto !important;
    height: 1px !important;
    background-color: gold !important;
    text-align: center;
    opacity: 1 !important;
}

.dark-background {
    background-size: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, $dark 100%);
}

.slider-item {
    height: 40vw;

    //
    //&.first-slider {
    //    background-image: url("../img/sliders/img1.jpg");
    //}
    //
    //&.second-slider {
    //    background-image: url("../img/sliders/img2.jpg");
    //}
    //
    //&.third-slider {
    //    background-image: url("../img/sliders/img3.jpg");
    //}


    //&:after {
    //    content: ' ';
    //    display: block;
    //    position: absolute;
    //    left: 0;
    //    right: 0;
    //    top: 0;
    //    bottom: 0;
    //    background-color: rgba(0, 0, 0, 0.5);
    //    //background: url('../img/gridtile.png') repeat !important;
    //    background-size: 2px 2px;
    //}


}

.slick-slider {
    overflow: hidden;
}

.slick-prev {
    z-index: 10000;
    left: 5vw !important;

    &:before {
        font-size: 5vmin !important;
    }
}

.slick-next {
    z-index: 10000;
    right: 6vw !important;

    &:before {
        font-size: 5vmin !important;
    }
}

.multi-button {
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .hover-title-show {
            position: relative;
            margin-top: -80px !important;
            font-weight: bold;
            color: black;
            background-color: $secondary;
            padding: 10px;
            text-align: center;
            width: 100%;
            z-index: 1000;
            opacity: 1;
            visibility: visible;
        }
    }

    .hover-title-show {
        color: transparent;
        text-align: center;
        transition-duration: 200ms;
        opacity: 0;
        visibility: hidden;
    }
}


.background-icon {
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    width: 70px;
    height: 70px;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    min-height: 250px;
    height: 48vw;
    z-index: -100;
}
